@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Tranning.Models.TopicDetail

@{
    ViewData["Title"] = "Update Topic";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5> Update New Topic</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Update">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="name" class="control-label"></label>
                                <input asp-for="name" class="form-control" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="course_id">Course</label>
                                <select asp-for="course_id" class="form-control" asp-items="@(new SelectList(ViewBag.Stores, "Value", "Text"))">
                                </select>
                                <span class="text-danger" asp-validation-for="course_id"></span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="status" class="control-label"></label>
                                    <select class="form-control" asp-for="status">
                                        <option value="Active">Active</option>
                                        <option value="Deactive">Deactive</option>
                                    </select>
                                    <span asp-validation-for="status" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="attach_file" class="control-label">Attach File</label>
                                    <input type="file" class="form-control" asp-for="attach_file" />
                                    <file class="img-fluid" src="/Uploads/attachfiles">@Model.attach_file</file>
                                </div>
                                <div class="form-group">
                                    <label asp-for="document_file" class="control-label">Document File</label>
                                    <input type="file" class="form-control" asp-for="document_file" />
                                    <file class="img-fluid" src="/Uploads/documents">@Model.documents</file>
                                </div>
                                <div class="form-group">
                                    <label asp-for="videos" class="control-label">Video</label>
                                    <input type="file" class="form-control" asp-for="videos" />
                                    <video class="img-fluid" controls><source type="video/mp4" src="/Uploads/videos/@Model.videos"></video>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="description" class="control-label"></label>
                                <textarea asp-for="description" class="form-control" rows="5"></textarea>
                                <span class="text-danger" asp-validation-for="description"></span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                <a class="btn btn-info btn-sm" href="@Url.Action("Index","Topic")">Back to List</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>