@using Microsoft.AspNetCore.Session
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@model Tranning.Models.LoginModel

@* 
@{
	ViewData["Title"] = "Login Page";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
} *@
<!doctype html>
<html lang="en">
<head>
	<title>Login </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewData["Title"] - Tranning</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="assets/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(assets/img/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login </h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Have an account?</h3>
	@using (Html.BeginForm("Index", "Login", FormMethod.Post))
	{
		@if (ViewData["MessageLogin"] != null)
		{
			<p class="text-danger text-center">
				@ViewData["MessageLogin"]
			</p>
		}
		<div class="form-group">
			<label type="text" class="form-control" placeholder="Username">Username</label>
			@Html.TextBoxFor(m=> m.Username, new {@class="form-control",@id="username"})
		</div>
		<div class="form-group">
			<label id="password-field" type="password" class="form-control" placeholder="Password">Password</label>
			@Html.PasswordFor(m => m.Password, new {@class="form-control",@id="password"})
			<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		</div>
		<div class="form-group">
			<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
		</div>
	}
						<p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
						<div class="social d-flex text-center">
							<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
							<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.js"></script>
	<script src="assets/bootstrap.min.js"></script>
	<script src="assets/main.js"></script>
</body>
</html>